<h1>{{title}}</h1>

<p>1. Create a Alpaca Connect app at <a href="https://app.alpaca.markets/apps">https://app.alpaca.markets/apps</a>, set the Redirect URI <a href="{{redirect_uri}}">{{redirect_uri}}</a>.</p>
<p>2. Request the client to authorize the partner's {{app}} - <a href={{url}}>{{url}}</a></p>